.main{
    margin-top: 68px;
}

.active-status {
    color: green;
  }
  
  .inactive-status {
    color: red;
  }

  .card-header{
    background-color: #033D75;
    color: rgb(255, 255, 255);
}
.card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.close1{
    border: none;
    background: #ededed;
    border-radius: 4px;
    padding: 4px 8px 4px 8px;
    font-weight: 400;
    font-size: 20px;
    line-height: 0px;
  }